{
  "branches": [
    "main",
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "improve",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "chore",
              "hidden": true
            },
            {
              "type": "ci",
              "hidden": true
            },
            {
              "type": "docs",
              "hidden": true
            },
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "improve",
              "section": "Improvements"
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "refactor",
              "hidden": true
            },
            {
              "type": "revert",
              "section": "Other"
            },
            {
              "type": "test",
              "hidden": true
            }
          ]
        }
      }
    ],
    "@semantic-release/github"
  ]
}
